/*
    Author: Nathan Ngo
    Date Created: 2024-06-01
    Date Last Modified: 2024-06-01
    Version: 1.0
    Description: Homework 1 CSS file
*/

header {
    width: 100%;
    background-color: rgb(135, 206, 250); /* Light blue background */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #105694; /* Dark blue background */
    margin: 0;
    height: 100%;
    max-height: 100%;
    min-height: 100vh; /* page is height of the viewport */
}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    flex-grow: 1;
}

.image {
    text-align: left;
}

.td1 {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

th {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color:rgb(135, 206, 250);
    height: 3.0rem;
}

#footer {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

input {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}